:root {
  --primary: rgb(56, 199, 185);
  --primary-warm: coral;
  --secondary: #008080;
  --secondary-warm: rgb(211, 63, 9);
  --blend: #00b4b4;
}

#__next {
  width: 100%;
}

* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
}

.PrimaryColor {
  color: var(--primary);
}
.PrimaryBackground {
  background: var(--primary);
}
.SecondaryColor {
  color: var(--secondary);
}
.SecondaryBackground {
  background: var(--secondary);
}

.Page {
  font-size: 18px;
  display: flex;
  min-height: 75vh;
}

.Page .Container {
  margin: auto;
  width: 100%;
  max-width: 400px;
  backdrop-filter: blur(3px);
  border-radius: 10px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Page .Title {
  color: var(--secondary);
  font-size: 3.5rem;
  margin-bottom: 3rem;
}

.Page .FormBox {
  flex: 1 1 auto;
  display: grid;
  align-items: center;
  justify-items: center;
  overflow: auto;
}

.PasswordForm {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.EmailInput {
  position: relative;
}

.EmailInput input {
  margin: 1rem 0rem;
  width: 100%;
  border-radius: 5px;
  height: 40px;
  padding: 10px 10px 10px 50px;
  font-size: inherit;
}

.EmailInput svg {
  color: var(--secondary);
  font-size: 2rem;
  position: absolute;
  left: 10px;
  top: 20px;
}

.Page .Divider {
  display: flex;
  position: relative;
  margin: 2rem 10px;
  z-index: 2;
}

.Page .Divider div {
  margin: auto;
  background: white;
  z-index: 2;
  padding: 0rem 1rem;
}

.Page .Divider::after {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  z-index: 1;
  border-bottom: 2px solid;
}

.Provider {
  margin: 1rem;
}

/* .Provider button {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2rem;
} */

.Logo {
  font-size: 3rem;
  padding: 0rem 1rem;
}

button {
  width: 100%;
  background: white;
  border: 2px solid var(--primary);
  font-size: inherit;
  max-width: 400px;
  padding: 1rem 2rem;
  margin: 2px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  color: white;
  background: var(--primary);
}

.ButtonGroup {
  display: flex;
}

.ButtonGroup button {
  margin: 10px;
  flex: 1;
}

.Loader {
  margin: auto;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ConfirmConnection {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.ConnectionContainer {
  display: flex;
  flex-direction: column;
  height: 139.5px;
}

.ConnectionDetails {
  padding: 1rem;
}

.User {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;

  color: var(--secondary);
}

.Image {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  margin-right: 1rem;
  border: 1px solid var(--secondary);
}

.Connection {
  /* border: 1px solid var(--secondary);
  border-radius: 20px; */
  margin: auto;
  width: 100%;
  transition: background 0.2s;
  background: var(--secondary);
  color: white;
  font-weight: 900;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  padding: 2rem 1rem;
}

.Connection:hover {
  background: var(--primary);
}

/* From hereon mostly stuff from the demo page. Should be removed at some point */
.Container {
  box-sizing: border-box;
  position: relative;
  display: grid;
  padding: 1rem;
  width: 100%;
}

.Container h1,
h2,
h3,
h4 {
  text-align: center;
}

.Intro {
  width: 100%;
  margin: auto;
  font-size: 2rem;
  overflow: auto;
}

.Login {
  width: 100%;
  margin-top: 5rem;
  text-align: center;
}

.JSON {
  font-size: 2rem;
  text-align: left;
  background: white;
  border-radius: 5px;
  max-width: min-content;
  margin: auto;
}

.JSON pre {
  max-width: 100%;
  font-family: monospace;
  padding: 1rem;
  overflow: auto;
}

.Demo {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  font-size: 2rem;
  margin-top: 3rem;
  overflow: auto;
  font-size: 1.2rem;
}
.Keys {
  overflow: auto;
  padding: 2rem;
  width: 100%;
  text-align: center;
}
.Token {
  padding: 2rem;
  overflow: auto;
  text-align: left;
  width: 100%;
  max-width: 100%;
}

.Key {
  word-break: break-all;
  overflow: auto;
  font-size: 1.2rem;
  font-family: monospace;
  overflow: auto;
  padding: 2rem;
  border: 1px solid white;
}
